body {
  margin: 0;
  padding: 0;
}

.page-template-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.pet-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 1px 1px 3px darkgrey;
}

.pet-card > a {
  color: red;
}

.pet-card > h2 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
